::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track{
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb{
    background: #888;
}
::-webkit-scrollbar-thumb:hover{
    background: #555;
}

#logo img {
    max-height: 70px;
    max-width: 350px;
}


#mainnav, footer {
    /* background-color: #e9e9f9 ; */
}



.stripedlist > li:nth-of-type(odd) {
    background-color: #e9e9f9;
}

html {
    overflow-x: hidden;
    height: 100%;
}


body {
    height: 45%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear: both;
    padding: 10px;
}

#main {
  overflow:auto;
  /* padding-bottom:150px; /* this needs to be bigger than footer height*/
}

@media only screen and (min-height: 900px){
    body {
        height: 60%;
    }
}

.box {
  transition: box-shadow .3s;

}
.box:hover {
  box-shadow: 0 0 7px rgba(33,33,33,.2);
}