{% extends "base.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h2>About</h2>

    <p><a href="https://www.fzp.ujep.cz/" target="_blank" rel=”noopener” style="text-decoration: none!important;">The Faculty of Environment</a>, coordinated by <a href="https://www.fzp.ujep.cz/jiri-orava" target="_blank" rel=”noopener” style="text-decoration: none!important;">doc. Ing. Jiri Orava, Ph.D.</a>, initiated the creation of the “Research
        Equipment at UJEP” website.<br/>
        The web helps to facilitate the visibility of research facilities located at UJEP and its partners.<br/>
        It allows easy and quick search for research suites and equipment (by type or main research field), <br/>
        identifying their main use, and promoting collaboration by offering the facilities to external users as well.
    </p>


    <h3>Authors</h3>

    <p>The website was created at the <a href="https://ki.ujep.cz/cs/" target="_blank" rel=”noopener”
                                         style="text-decoration: none!important;">Department of Computer Science</a>
        under supervision of <a href="mailto:Pavel.Beranek@ujep.cz" style="text-decoration: none!important;">
            <span class="author">Ing. Mgr. Pavel Beránek</span></a><span> and <a
                href="https://ki.ujep.cz/cs/personalni-slozeni/jiri-fiser/" style="text-decoration: none!important;"
                target="_blank" rel=”noopener”>Mgr. Jiří Fišer, Ph.D.</a></span></p>
    <p>Developers:</p>

    <ul>
        <li><a href="https://www.linkedin.com/in/doas-jakub-kopecky/" target="_blank" rel=”noopener”
               style="text-decoration: none!important;"><span class="author">Jakub Kopecký</span></a></li>
        <li><a href="https://www.linkedin.com/in/luk%C3%A1%C5%A1-priban-890021243/" target="_blank" rel=”noopener”
               style="text-decoration: none!important;"><span class="author">Lukáš Priban</span></a></li>
        <li><a href="https://www.linkedin.com/in/petr-parachin-a4b335174/" target="_blank" rel=”noopener”
               style="text-decoration: none!important;"><span class="author">Petr Parachin</span></a></li>
    </ul>

    <h3>Github</h3>

    <p>Web is open source and you can find it on <a href="https://github.com/ki-ujep/facilities"
                                                    style="text-decoration: none!important;">Github</a>.</p>
{% endblock %}