{% extends "base.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h2>About</h2>
    <p>This web is owned and maintained by Jana Evangelisty Purkyně University. All rights are reserved. If you
        encounter some issues contact any person on contacts list. Web is currently in development process and its
        design may change. This is first non-formal release of the web.</p>
    <p>Web is designed to provide information about devices that are used by members of Czech academy of science (mainly
        members from UJEP) institute to other members of Czech academy of science.</p>

    <h2>Authors</h2>
    <p>Web was created under supervision of <a href="mailto:Pavel.Beranek@ujep.cz">
        <span class="author">Ing. Mgr. Pavel Beránek</span></a><span> and Mgr. Jiří Fišer, Ph.D.,</span></p>
    <p>Developers:
    <a href="https://www.linkedin.com/in/doas-jakub-kopecky/" target="_blank" rel=”noopener”><span class="author">Jakub Kopecký,</span></a>
    <a href="https://www.linkedin.com/in/luk%C3%A1%C5%A1-priban-890021243/" target="_blank" rel=”noopener”><span class="author">Lukáš Priban,</span></a>
    <a href="https://www.linkedin.com/in/petr-parachin-a4b335174/" target="_blank" rel=”noopener”><span class="author">Petr Parachin.</span></a></p>

    <h2>Github</h2>
    <p>Web is open source and you can find it on <a href="https://github.com/ki-ujep/facilities">Github</a>.</p>

{% endblock %}