{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}">
{% endblock %}

{% block title %}
{{ device.name }}
{% endblock %}

{% block main %}

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Equipment</a></li>
        <li class="breadcrumb-item">
            {% if faculty.is_partner_organization %}
            <a href="{% url 'organizationdevices' faculty_id=faculty.id %}">{{ faculty.name }}</a>
            {% else %}
            <a href="{% url 'facultydevices' faculty_id=faculty.id %}">{{ faculty.name }}</a>
            {% endif %}
        </li>
        <li class="breadcrumb-item active" aria-current="page">{{ device.name }}</li>
    </ol>
</nav>

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'contacts' order='asc'%}">Contacts</a></li>
        <li class="breadcrumb-item"><a href="{% url 'contactdevices' contact_id=contact.id order='asc' %}">{{ contact.titles }} {{ contact.name }}{% if contact.titles_after %}, {{ contact.titles_after }}{% endif %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ device.name }}</li>
    </ol>
</nav>


<div class="card mt-5 container" style="max-width: 800px;">
    <div class="card-header">

        <h3 class="card-title text-center ">{{ device.name }}</h3>

        <ul class="list-group device-tag-list">
            {% if device.faculty.is_partner_organization %}
            <a href="{% url 'organizationdevices' faculty_id=device.faculty.id %}" class="d-inline">
                <button class="btn btn-primary badge bg-success rounded-pill device-tag">{{ device.faculty.name }}</button>
            </a>
            {% else %}
            <a href="{% url 'facultydevices' faculty_id=device.faculty.id %}" class="d-inline">
                <button class="btn btn-primary badge bg-success rounded-pill device-tag">{{ device.faculty.name }}</button>
            </a>
            {% endif %}

            {% if device.department %}
            <a href="{% url 'departmentdevices' department_id=device.department.id order='asc' %}" class="d-inline">
                <button class="btn btn-primary badge bg-department rounded-pill device-tag">{{ device.department.name }}</button>
            </a>
            {% endif %}

            {% for category in device.category.walk %}
                <a href="{% url 'categorydevices' category_id=category.id order='asc' %}" class="d-inline">
                    <button class="btn btn-primary badge bg-warning text-dark rounded-pill device-tag">{{ category.name }}
                    </button>
                </a>
                {% if not forloop.last %}
                    <span class="badge bg-primary bg-warning text-dark rounded-pill">-></span>
                {% endif %}
            {% endfor %}


            {% if device.laboratory %}
            <a href="{% url 'laboratorydevices' laboratory_id=device.laboratory.id order='asc' %}" class="d-inline">
                <button class="btn btn-primary badge bg-info text-dark rounded-pill device-tag">{{ device.laboratory.name }}</button>
            </a>
            {% endif %}

            {% for usage in device.usages.all %}
                <a href="{% url 'usagedevices' usage_id=usage.id order='asc' %}" class="d-inline">
                    <button class="btn btn-primary badge bg-secondary rounded-pill device-tag">{{ usage.academical_usage }}</button>
                </a>
            {% endfor %}
        </ul>

    </div>
    <div class="card-body">
        {% with device.devicepicture_set.all as device_pictures %}
            {% if device_pictures %}
                <div id="deviceCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="false">
                    <div class="carousel-inner">
                        {% for device_picture in device_pictures %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <div class="carousel-img-container">
                                    <img src="{{ device_picture.image.url }}" class="d-block w-100 card-img-top" alt="{{ device.name }} device picture">
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if device.devicepicture_set.count > 1 %}
                    <button class="carousel-control-prev" type="button" data-bs-target="#deviceCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#deviceCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                    {% endif %}
                </div>
            {% endif %}
        {% endwith %}
        {% if device.description %}
            <p class="card-text">{{ device.description }}</p>
        {% endif %}
        <ul class="list-group list-group-flush">
            {% if device.serial_number %}
            <li class="list-group-item">
                <span class="fw-bold">Serial Number:</span> {{device.serial_number}}
            </li>
            {% endif %}
            {% if device.usages.all %}
            <li class="list-group-item">
                <span class="fw-bold">Academical usages:</span>
                {% for usage in device.usages.all %}
                    <span class="badge bg-secondary rounded-pill">{{ usage.academical_usage }}</span>
                {% endfor %}
            </li>
            {% endif %}
            <li class="list-group-item">
                <span class="fw-bold">Contact name:</span> <a href="{% url 'contactdevices' contact_id=device.contact.id order='asc' %}">{{ device.contact.titles }} {{device.contact.name}}{% if device.contact.titles_after %}, {{ device.contact.titles_after }}{% endif %}</a>
            </li>
            {% if device.contact.email %}
            <li class="list-group-item">
                <span class="fw-bold">Contact email:</span> {{device.contact.email}}
            </li>
            {% endif %}
            {% if device.contact.phone %}
            <li class="list-group-item">
                <span class="fw-bold">Contact phone:</span> {{device.contact.phone}}
            </li>
            {% endif %}
            {% if device.attachments.all %}
            <li class="list-group-item">
                <span class="fw-bold">Attachments:</span>
                {% for attachment in device.attachments.all %}
                    <a href="{{ attachment.file.url }}" class="rounded-pill" style="color: #0d6efd">{{ attachment.file.name }}</a>
                {% endfor %}
            </li>
            {% endif %}
        </ul>
        
    </div>
</div>

{% endblock %}

