{% extends "base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" type="text/css" href="{% static "css/footer.css" %}">
{% endblock %}

{% block title %}
{{ device.name }}
{% endblock %}

{% block main %}

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Equipment</a></li>
        <li class="breadcrumb-item"><a href="{% url 'facultydevices' faculty_id=faculty.id %}">{{ faculty.name }}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ device.name }}</li>
    </ol>
</nav>

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'contacts' order='asc'%}">Contacts</a></li>
        <li class="breadcrumb-item"><a href="{% url 'contactdevices' contact_id=contact.id order='asc' %}">{{ contact.titles }} {{ contact.name }}{% if contact.titles_after %}, {{ contact.titles_after }}{% endif %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{ device.name }}</li>
    </ol>
</nav>


<div class="card mt-5 container" style="max-width: 800px;">
    <div class="card-header">

        <h3 class="card-title text-center ">{{ device.name }}</h3>

        <form action="{% url 'search_result' %}" method="get" class="d-inline">
            <button class="btn btn-primary badge bg-success rounded-pill" type="submit" name="query" value="{{device.faculty.name}}">{{device.faculty.name}}</button>
        </form>
        
        <form action="{% url 'search_result' %}" method="get" class="d-inline">
            <button class="btn btn-primary badge bg-department rounded-pill" type="submit" name="query" value="{{device.department.name}}">{{device.department.name}}</button>
        </form>
        
        {% for category in device.category.walk %}
            <form action="{% url 'search_result' %}" method="get" class="d-inline">
                <button class="btn btn-primary badge bg-warning text-dark rounded-pill"
                        type="submit"
                        name="query" value="{{ category.name }}">{{ category.name }}
                </button>
            </form>
            {% if not forloop.last %}
                <span class="badge bg-primary bg-warning text-dark rounded-pill">-></span>
            {% endif %}
        {% endfor %}
        
        <form action="{% url 'search_result' %}" method="get" class="d-inline">
            <button class="btn btn-primary badge bg-info text-dark rounded-pill" type="submit" name="query" value="{{ device.laboratory.name }}">{{ device.laboratory.name }}</button>
        </form>
    
        {% for usage in device.usages.all %}
            <form action="{% url 'search_result' %}" method="get" class="d-inline">
                <button class="btn btn-primary badge bg-secondary rounded-pill" type="submit" name="query" value="{{ usage.academical_usage }}">{{ usage.academical_usage }}</button>
            </form>
        {% endfor %}

    </div>
    <div class="card-body">
        {% if device.picture %}
            <img src="{{ device.picture.url }}" class="card-img-top" alt="{{ device.name }} device picture">
        {% endif %}
        <p class="card-text">{{ device.description }}</p>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <span class="fw-bold">Serial Number:</span> {{device.serial_number}}
            </li>
            <li class="list-group-item">
                <span class="fw-bold">Academical usages:</span>
                {% for usage in device.usages.all %}
                    <span class="badge bg-secondary rounded-pill">{{ usage.academical_usage }}</span>
                {% endfor %}
            </li>
            <li class="list-group-item">
                <span class="fw-bold">Contact name:</span> <a href="{% url 'contactdevices' contact_id=device.contact.id order='asc' %}">{{ device.contact.titles }} {{device.contact.name}}{% if device.contact.titles_after %}, {{ device.contact.titles_after }}{% endif %}</a>
            </li>
            <li class="list-group-item">
                <span class="fw-bold">Contact email:</span> {{device.contact.email}}
            </li>
            <li class="list-group-item">
                <span class="fw-bold">Contact phone:</span> {{device.contact.phone}}
            </li>
            <li class="list-group-item">
                <span class="fw-bold">Attachments:</span>
                {% for attachment in device.attachments.all %}
                    <a href="{{ attachment.file.url }}" class="rounded-pill" style="color: #0d6efd">{{ attachment.file.name }}</a>
                {% endfor %}
        </ul>
        
    </div>
</div>

{% endblock %}

