{% extends "base.html" %}
{% load static %}
{% block title %}
Facility
{% endblock %}

{% block main %}
<h2>Facilities</h2>

<nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Facilities</li>
    </ol>
</nav>

<ul class="row mt-3">
{% for faculty in faculties %}
    <li class="card" style="width:400px">
        <a href="{% url 'facultydevices' faculty_id=faculty.id order='asc'%}" class="text-decoration-none">
            <div class="card-body">

            {% if faculty.id == 1 %}
                <h4 class="card-title">{{ faculty.name }}</h4>
                <img class="card-img-top" src="{% static 'img/logos/fzp_logo_en.jpg' %}" alt="FŽP logo" style="width:100%">
            
            {% elif faculty.id == 2 %}
                <h4 class="card-title">{{ faculty.name }}</h4>
                <img class="card-img-top" src="{% static 'img/logos/prf_logo_en.jpg' %}" alt="PŘF logo" style="width:100%">
            
            {% elif faculty.id == 3 %}
                <h4 class="card-title">{{ faculty.name }}</h4>
                <img class="card-img-top" src="{% static 'img/logos/fsi_logo_en.jpg' %}" alt="FSI logo" style="width:100%">
            
            {% elif faculty.id == 4 %}
                <h4 class="card-title">{{ faculty.name }}</h4>
                <img class="card-img-top" src="{% static 'img/logos/fse_logo_en.jpg' %}" alt="FSE logo" style="width:100%">
            
            {% elif faculty.id == 5 %}
                <h4 class="card-title">{{ faculty.name }}</h4>
                <img class="card-img-top" src="{% static 'img/logos/ff_logo_en.jpg' %}" alt="FF logo" style="width:100%">
            
            {% elif faculty.id == 6 %}
                <h4 class="card-title">{{ faculty.name }}</h4>
                <img class="card-img-top" src="{% static 'img/logos/fud_logo_en.jpg' %}" alt="FUD logo" style="width:100%">
            
            {% elif faculty.id == 7 %}
                <h4 class="card-title">{{ faculty.name }}</h4>
                <img class="card-img-top" src="{% static 'img/logos/fzs_logo_en.jpg' %}" alt="FZS logo" style="width:100%">
            
            {% elif faculty.id == 8 %}
                <h4 class="card-title">{{ faculty.name }}</h4>
                <img class="card-img-top" src="{% static 'img/logos/pf_logo_en.jpg' %}" alt="PF logo" style="width:100%">
            
            {% else %}

            {% endif %}
            </div>
        </a>
    </li>  
{% endfor %}
</ul>
{% endblock %}