{% extends "base.html" %}
{% load static %}
{% block title %}
    Equipment
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static "css/home_contacts.css" %}">
{% endblock %}

{% block main %}
    <h2>Faculties</h2>

    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
         aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Active faculties</li>
        </ol>
    </nav>

    <ul class="row justify-content-md mt-3">
        {% for faculty in faculties %}
            {% if faculty.active == True %}
                <li class="card" style="width:400px">
                    <a href="{% url 'facultydevices' faculty_id=faculty.id %}"
                       class="text-decoration-none faculty">
                        <div class="card-body">
                            <h4 class="card-title">{{ faculty.name }}</h4>
                            {% if faculty.logo_en %}
                                <img class="card-img-top" src="{{ faculty.logo_en.url }}" alt="FŽP logo" style="width:342px;height: 110px">
                            {% endif %}
                        </div>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <h2>Partner organizations</h2>

    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);"
         aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Active organizations</li>
        </ol>
    </nav>

    <ul class="row justify-content-md mt-3">
        {% for organization in organizations %}
            {% if organization.active == True %}
                <li class="card" style="width:400px">
                    <a href="{% url 'organizationdevices' faculty_id=organization.id %}"
                       class="text-decoration-none organization">
                        <div class="card-body">
                            <h4 class="card-title">{{ organization.name }}</h4>
                            {% if organization.logo_en %}
                                <img class="card-img-top" src="{{ organization.logo_en.url }}" alt="FŽP logo" style="width:342px;height: 110px">
                            {% endif %}
                        </div>
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endblock %}
